#search-display {
    background-color: rgba(255, 239, 213, 0.5);
    color: black;
    min-height: min-content;
    max-height: 150px;
    margin-top: 5px;
    width: 30vw;
    overflow: scroll;
    border-radius: 4px 4px 15px 15px;
    display: flex;
    flex-direction: column;
}