body {
  background-color: rgb(55,0,60);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/img1.jpg");
  background-size: cover;
  color: white;
  width: 100vw;
  height: 35em;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 50%;
}

.title {
  font-size: 3em;
}
